<% if arg && controller.path_info == '/' %>
<div class="find">
  <label for="find_select">Find next:</label>
  <select id="find_select" name="find" onchange="roll(this)">
    <option></option>

    <optgroup label="Legendary:">
      <% gacha.legend_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_find(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>

    <optgroup label="Uber:">
      <% gacha.uber_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_find(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>

    <optgroup label="Super:">
      <% gacha.supa_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_find(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>

    <optgroup label="Rare:">
      <% gacha.rare_cats.uniq(&:id).each do |cat| %>
        <option value="<%= cat.id %>"
          <%= selected_find(cat) %>><%= cat_name(cat) %></option>
      <% end %>
    </optgroup>
  </select>

  <% if gacha.pool.guaranteed_rolls > 0 %>
    <label for="no_guaranteed_input">Exclude guaranteed:</label>
    <input type="checkbox" id="no_guaranteed_input"
      name="no_guaranteed" value="true"
      <%= checked_no_guaranteed %>
      onchange="roll(this)">
  <% end %>

  <label for="force_guaranteed_input">Simulate guaranteed:</label>
  <select id="force_guaranteed_input" name="force_guaranteed"
    onchange="roll(this)">
    <% [nil, 2, 7, 11, 15].each do |n| %>
      <option value="<%= n %>"
        <%= selected_force_guaranteed(n) %>><%= n %></option>
    <% end %>
  </select>

  <label for="add_future_ubers">Add future ubers:</label>
  <select id="add_future_ubers" name="ubers" onchange="roll(this)">
    <% 0.upto(9).each do |n| %>
      <option value="<%= n %>"
        <%= selected_ubers(n) %>><%= n %></option>
    <% end %>
  </select>
</div>
<% else %>
<%= hidden_inputs('find', 'no_guaranteed', 'force_guaranteed', 'ubers') %>
<% end %>
