<%= erb :form %>

<%= header(1, "Event data links for BC#{controller.lang.upcase}") %>
<ul>
  <% %w[gatya.tsv item.tsv sale.tsv].each do |file| %>
    <li>
      <a href="<%= event_url(controller.lang, file: file) %>"><%= file %></a>
      (cached for <%= controller.tsv_expires_in %> seconds)
      / <a href="<%= event_url(controller.lang, file: file, kind: '/curl') %>">curl command</a>
      / <a href="<%= event_url(controller.lang, file: file, kind: '/json') %>">headers in JSON</a>
    </li>
  <% end %>
</ul>

<%= header(1, "Known bugs for 8.6+") %><p></p>
<ol>
  <li>Seed seeking does not fully work for 8.6+ yet. If it can't find the seed, roll another cat, and put your new last 10 cats. When you don't have any duplicated rare cats in the last 10 rolls, it can find the seed.</li>
</ol>

<%= header(1, "What's changed?") %><p></p>

<%= header(2, "2020-01-23") %>
<ul>
  <li>Highlight the middle 5 rolls differently for step-up events. This may help you plan out when we have multiple step-up events happening at the same time.</li>
  <li>Add 7-rolls guaranteed. Again this may help if you're switching between step-up events.</li>
  <li>Add cat db links in the cat list in detailed mode.</li>
</ul>

<%= header(2, "2019-12-31") %>
<ul>
  <li>Added a new feature so that you can pick which cats you owned from the <a href="<%= cats_uri %>">cats list</a>.</li>
  <li>When you pick the cats, it'll save the list in URL with <code>owned</code> query string, which can be very long if you have a lot of cats.</li>
  <li>Cats which you owned will be low-lighted with <span class="owned">azure color</span>, making it less obvious even if it's an uber cat.</li>
  <li>
    Color priority updated to:
    <span class="legend"><a>Legendary</a></span> &gt;
    <span class="found"><a>Found</a></span> &gt;
    <span class="owned"><a>Owned</a></span> &gt;
    <span class="exclusive"><a>Exclusive</a></span> &gt;
    others
  </li>
  <li>Legendary cats are too rare so it should never be hidden.</li>
  <li>Two links to help you pick all and drop all, in case you have almost all cats already, so it'll be easier to tick off cats you don't own yet.</li>
</ul>

<%= header(2, "2019-12-28") %>
<ul>
  <li>Added some new sections in the help page:</li>
    <ul>
      <li>New section about <em>Consecutive duplicated rare cats</em>.</li>
      <li>A placeholder for <em>Bouncing with consecutive duplicated rare cats</em>.</li>
      <li>A placeholder for <em>Not necessarily a consecutive duplicated rare cat</em>.</li>
      <li>A placeholder for <em>Skipping with a platinum ticket</em>.</li>
      <li>A placeholder for <em>Higher chances with repeated cats</em>.</li>
    </ul>
</ul>

<%= header(2, "2019-12-22") %>
<ul>
  <li>Fixed some bugs in the new highlighting system. It should be more consistent now.</li>
  <li>Help page highlighting and guaranteed steps are fixed.</li>
</ul>

<%= header(2, "2019-12-18") %>
<ul>
  <li>This is a late update log from 2019-12-22. It was released earlier because I want to update event data, and I didn't bother to branch it.</li>
  <li>Now we use R to indicate a rerolled cat. For example, 11AR is the cat at 11A rerolled into. 11ARG is the cat at 11A guaranteed, but starting from the rerolled position.</li>
  <li>Highlighting system is greatly improved. Now it can properly highlight if you would be picking the rerolled cat or not.</li>
  <li>In the new highlighting system, you can click on the upper part of a cell, which will automatically find which cats you'll be rolling into, from the past to the future. Your cursor will show a "help" icon in this case.</li>
  <li>Or you can click on the lower part of a cell, just beside the cat's name. In this case, the system will specifically show how it'll work if you're rolling into that specific cat. Your cursor will show a "plus" icon.</li>
</ul>

<%= header(2, "2019-12-09") %>
<ul>
  <li>Guaranteed columns should be fully working for 8.6+ now. You don't have to set force guaranteed to 2 and count manually anymore.</li>
  <li>Guaranteed columns may have two rows when there's a dupe rare, because you might be starting from the re-rolled cat, and in that case you need to look at the second row.</li>
  <li>Highlighting the rolling path is done for 8.6+. Try clicking on the cells.</li>
  <li>The super duper edge case for duplicated collaborate rare cats has been fixed. Everything should be predicted correctly now.</li>
  <li>8.6+ is no longer considered experimental. There are still improvements I want to make, but all the basic functionalities are there. Next I'll improve the highlighting that it'll only highlight the exact cats you'll get.</li>
</ul>

<%= header(2, "2019-08-06") %>
<ul>
  <li>The weird hacky <code>next_seed</code> mode is now dropped, because the seed seeker can properly handle that now.</li>
</ul>

<%= header(2, "2019-07-28") %>
<ul>
  <li>Sorry for the long wait. I have been pretty busy recently :(</li>
  <li>Added a section about known bugs in this page.</li>
  <li>The bug that giving a wrong re-rolled cat upon duplicated collaborate rare cat has been fixed.</li>
  <li>
    The bug had two consequences:
    <ol>
      <li>It might give the wrong re-rolled cat upon duplicated collaborate rare cat.</li>
      <li>It might give you the wrong destination, not just wrong cat.</li>
    </ol>
  </li>
  <li>You can check seed <a href="/?seed=1815690119&event=2019-07-18_391">1815690119</a> to observe this. On 6A, the re-rolled cat should move you to 8A, rather than 7B. On 10A, now it's giving you a Tin cat rather than Mari cat, but move you to the same destination.</li>
</ul>

<%= header(2, "2019-06-22") %>
<ul>
  <li>For seeking the seed, use 8.5 and hope you don't run into a duplicated cat. 8.6 is disabled for seeking the seed for now, because it's not working properly.</li>
</ul>

<%= header(2, "2019-06-13") %>
<ul>
  <li>Since 8.6 is released for EN/TW/KR, we decided to put up a workaround for showing guaranteed ubers before an actual solution is done:</li>
  <ul>
    <li>The default version is now switched to 8.6+ (experimental). It's still marked as experimental because guaranteed columns are not properly done yet.</li>
    <li>The workaround is that now we allow you to simulate the guaranteed ubers with just 2 rolls. This means the guaranteed uber showed in 10A will be the same as the old guaranteed uber showed in 1A, assuming that you didn't have any duplicated rare cats sitting in the middle, switching your tracks. This will be accurate if you know what you're doing.</li>
    <li>Consult with an expert on this if you don't understand.</li>
    <li>Highlighting is not done for 8.6+ yet.</li>
  </ul>
</ul>

<%= header(2, "2019-06-05") %>
<ul>
  <li>More updates for the experimental 8.6+ support. Keep in mind it might not be always correct!</li>
  <ul>
    <li>Now you'll know which re-rolled cat you'll get.</li>
    <li>A lot of edge cases are properly handled now.</li>
    <li>Highlighting and guaranteed uber is still working in progress.</li>
    <li>Seed seeking will not be worked on before we're sure the tracking is correct.</li>
  </ul>
</ul>

<%= header(2, "2019-06-02") %>
<ul>
  <li>Added experimental 8.6+ support. Keep in mind it might not be always correct!</li>
  <ul>
    <li>When the same rare cat was rolled in a row, the game will not just give you a fixed rare cat now, it'll instead move the seed at least once (we don't know if it's always just once yet) to roll another rare cat for you, therefore it'll <strong>switch your track!</strong></li>
    <li>We don't know how the newly re-rolled rare cat is determined for now, nor do we know if this will affect another re-roll when the next cat happens to be the same as the re-rolled cat again.</li>
    <li>The page will now try to remember the last cat you rolled, making sure 1A can be determined correctly. 1B is ignored in this case.</li>
    <li>Highlighting is disabled for 8.6+ for now, because it might not be accurate due to switching upon duplicated rare.</li>
    <li>Guaranteed roll is disabled for 8.6+ as well, again because it might not be accurate due to switching upon duplicated rare in the middle.</li>
    <li>You can still get the same super rare cat in a row. The same is assumed for ubers and legendary cats. Only rare cats have this re-rolling effect.</li>
  </ul>
  <li>The page will now remember what's your last rolled cat. This will be used for the experimental 8.6+ support, but it has no use prior to 8.6.</li>
</ul>

<%= header(2, "2019-05-27") %>
<ul>
  <li>Updated version option so that 8.5 is just 8.5. It doesn't work for 8.6</li>
  <li>Show the slot code as the prefix for seed seeking.</li>
</ul>

<%= header(2, "2019-04-25") %>
<ul>
  <li>Added an option to select the version. Both 8.4 and 8.5 should work.</li>
</ul>

<%= header(2, "2019-03-03") %>
<ul>
  <li>Fixed a bug crashing help page if details is checked.</li>
</ul>

<%= header(2, "2019-02-12") %>
<ul>
  <li>Add a third link in the seeking result if 10 cats were filled.</li>
  <li>Help messages for seeking the seed is updated accordingly.</li>
</ul>

<%= header(2, "2019-02-06") %>
<ul>
  <li>Update event data for 8.2 for BCEN and BCTW.</li>
  <li>Add support for BCKR.</li>
</ul>

<%= header(2, "2019-01-30") %>
<ul>
  <li>
    Cache for TSV files raised from 300 seconds to 600 seconds.
    Use curl or JSON if you can't wait for it to expire.
  </li>
</ul>

<%= header(2, "2019-01-26") %>
<ul>
  <li>
    I won't update this page merely for event data update any more.
    Not worth the troubles.
  </li>
  <li>Now we serve event data links in this page.</li>
  <li>
    Remove 世界一即戦力になるにゃんこ達！ which lasts to 2030 for BCJP because
    that's for older version (8.1-) and we have another properly scheduled
    event for it, too.
  </li>
  <li>More margin-bottom for ul, remove hr.</li>
  <li>Now we preserve as much as arguments on query string.</li>
  <li>Merge simulation for guaranteed into the same row with find cats.</li>
  <li>Remove unuseful home page link in the bottom.</li>
</ul>

<%= header(2, "2019-01-11") %>
<ul>
  <li>Update BCEN and BCTW event data</li>
  <li>Update data source link to GitLab</li>
</ul>

<%= header(2, "2019-01-07") %>
<ul>
  <li>Update BCJP event data</li>
</ul>

<%= header(2, "2018-12-29") %>
<ul>
  <li>
    Use cell cursor for the table cell so it's more clear
    they are clickable.
  </li>
  <li>
    Add a new feature that we can click on the table cell and it'll highlight
    the rolled cats.
    <span class="picked">Stands for regularly rolled</span> cats, and
    <span class="picked_consecutively">stands for consecutively (11 or 15)
    rolled</span> cats. <span class="next_position">Indicates the next
    position</span> after the rolls. Highlights are not preserved for now
    because it's not very easy to implement based on the current approach.
    Maybe we can do that later if needed.
  </li>
  <li>Fix a bug that "Exclude guaranteed" wasn't preserved.</li>
  <li>
    Add white background to guaranteed column if there is a cat.
    This should make it more visually consistent.
  </li>
</ul>

<%= header(2, "2018-12-28") %>
<ul>
  <li>Add change log page with cat job icon</li>
  <li>Add titles to help page and seek page</li>
  <li>
    Slightly enlarge the sniper cat icon to make it more visually balanced
  </li>
</ul>

<%= header(2, "2018-12-27") %>
<ul>
  <li>
    Move the server under control of systemd from screen.
    This should greatly increase the stability of the site,
    because systemd will restart the server once it crashed.
    Previously, I have to restart it manually.
  </li>
</ul>

<%= header(2, "2018-12-26") %>
<ul>
  <li>
    Views are now rendered by tilt and it should improve the performance a bit
  </li>
  <li>
    Now views are also cached once the server started.
    This avoids crashing when the code is updated yet the server
    is not restarted yet. The server may not be restarted immediately if
    someone is trying to find the seed. So this should improve stability.
  </li>
  <li>Some smaller bugs and text are fixed/updated</li>
</ul>
